### Node template
# Webstorm configuration directory
.idea

# Logs
logs
*.log

# Dependency directory
node_modules

# Bower Dependency directory
bower_components

# Ignore Mac OS desktop services store
.DS_Store

# Ignore Windows desktop setting file
desktop.ini

# Bower dependency directory
bower_components
